<!doctype html>
<html lang="en">

<head>
    {{>head}}
    <style>
        .card-title {

            font-family: 'Times New Roman', Times, serif;
            font-weight: 200;
            font-style: oblique;
            font-size: 30px;

        }

        .card {
            border: 5px;
            border-style: double;
        }

        .card-img-top {
            border-style: dotted;
        }
    </style>
    <title>
        Learn App Dev
      </title>
</head>

<body style="background-color: rgb(170, 253, 226);">
    {{>navbar}}
    <div class="p-3 mb-2 text-dark">
        <marquee behavior="scroll" direction="right" style="background-color: khaki">
        <h1
            style="text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 350;font-weight: bold;color: black;">
            <u>Explore Options</u>
        </h1>
        </marquee>

        <h2
            style="text-align: left;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 250;font-weight: bold;">
            <u>ANDROID</u>>
        </h2>
        <br>

        <div class="container my-5">
            <div class="row featurette d-flex justify-content-center align-items-center" >
                <div class="col-md-7 border" >
                    <h2 class="featurette-heading">TutorialsPoint
                    </h2>
                    <p class="lead ">This tutorial has been prepared for the beginners to help them
                        understand basic Android programming. After completing this tutorial you will find yourself at a
                        moderate level of expertise in Android programming.
                    </p>
                    <a href="https://www.tutorialspoint.com/android/index.htm" target="_blank"
                        class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5">
                    <img src="images/tp.jpg" width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto " style="border: black 3px solid;" />
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2 border">
                    <h2 class="featurette-heading">GeeksForGeeks
                    </h2>
                    <p class="lead ">This page provides the complete Android development tutorial which one can follow
                        to kick-start his/her journey in app development. The complete tutorial is designed in a manner
                        to go from zero to hero level.
                    </p>
                    <a href="https://www.geeksforgeeks.org/android-tutorial/" target="_blank"
                        class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/unnamed.jpg " width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border: black 3px solid;" />
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 border">
                    <h2 class="featurette-heading">JavatPoint
                    </h2>
                    <p class="lead ">Android Studio tutorial covers basic and advanced concepts of android technology.
                        Our Android development tutorial is developed for beginners and professionals.It contains a
                        linux-based Operating System, middleware and key mobile
                        applications.
                    </p>
                    <a href="https://www.javatpoint.com/android-tutorial" target="_blank"
                        class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5">
                    <img src="images/6hViHfmJ_400x400.jpg " width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border: black 3px solid;" />
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2 border">
                    <h2 class="featurette-heading">Kotlin
                    </h2>
                    <p class="lead ">This codelab is written for programmers who know
                        either Java or Kotlin programming language. If you are an experienced programmer you will likely
                        be able to follow this codelab, even if you don't have much experience with Kotlin.
                    </p>
                    <a href="https://developer.android.com/codelabs/build-your-first-android-app-kotlin#0"
                        target="_blank" class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/flat,750x,075,f-pad,750x1000,f8f8f8.jpg " width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"style="border: black 3px solid;"  />
                </div>
            </div>

        </div>
        <h2
            style="text-align: left;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 250;font-weight: bold;">
            <u>iOS</u>>
        </h2>

        <div class="container my-5">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 border">
                    <h2 class="featurette-heading">JavatPoint
                    </h2>
                    <p class="lead ">iOS Development Tutorial Using Swift provides the basic and advanced
                        concepts of iOS Development. Our iOS Development tutorial is designed for beginners and
                        professionals.
                    </p>
                    <a href="https://www.javatpoint.com/ios-development-using-swift" target="_blank"
                        class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5">
                    <img src="images/6hViHfmJ_400x400.jpg" width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="border: black 3px solid;" />
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2 border">
                    <h2 class="featurette-heading">Apple
                    </h2>
                    <p class="lead ">Learn the basics of Xcode, SwiftUI, and UIKit to create native apps for
                        iOS.
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-clock" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z">
                            </path>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z">
                            </path>
                        </svg>14hr 5min Estimated Time
                    </p>
                    <a href=" https://developer.apple.com/tutorials/app-dev-training/" target="_blank"
                        class="btn btn-primary">Explore more</a>

                </div>
                <div class="col-md-5 order-md-1">
                    <img src="images/Apple-logo.jpg " width="400" height="400"
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"style="border: black 3px solid;"  />
                </div>
            </div>

        </div>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
    <footer class="container text-center">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
</body>

</html>