<!doctype html>
<html lang="en">

<head>
  {{>head}}
  <title>
    Courses Offered!
  </title>
  <style>
    .card{
      height: 700px;
    }
  </style>
</head>

<body>
  {{>navbar}}
  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card">
          <img src="images/akshay.jpeg" class="card-img-top" height="250"alt="...">
          <div class="card-body">
            <h5 class="card-title">Akshay</h5>
            <p class="card-text">I am computer science engineer with 5 years of commercial experience and a part time
              student coach and mentor. I teach and guide students ranging from school, colleges to working
              professionals.
              I have been teaching from past 3+ years and have extensive experience in teaching variety of audiences.
            </p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;400/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:

              <ul>
                <li>C/C++/Java</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>

            </button>

            <button>
              Languages:
              <ul>
                <li>English</li>
                <li>Oriya</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="images/ankit-min.jpeg" class="card-img-top" height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ankit</h5>
            <p class="card-text">I believe in the concept of implementation and I teach programming in a very hands-on
              manner. 4 of my students are currently working in TCS and 2 are now data scientists. I myself have
              developed
              the World's lightest Android browser and have published 60+ apps on play store</p>
           <button type="button" class="btn btn-danger mx-2">&#x20b9;300/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Web Dev</li>
                <li>Web Design</li>
                <li>App Dev</li>
                <li>C/C++</li>
              </ul>
            </button>

            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>English</li>
                <li>Punjabi</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="images/deepak.jpeg" class="card-img-top" height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Deepak</h5>
            <p class="card-text">I am an engineer by profession. I did my graduation in Computer Science and
              Engineering. I love to teach everything related to Computer Science. I have 6 years of teaching
              experience. I give both online as well as offline sessions to school going and Graduation/Post Graduation
              students.</p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;350/hr</button>
           <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Web Dev</li>
                <li>Web Design</li>
                <li>C/C++</li>
                <li>Java</li>

              </ul>

            </button>

            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>English</li>
                <li>Marwari</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="images/aditya.jpeg" class="card-img-top"height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aditya</h5>
            <p class="card-text">I am professional Full-stack developer.I have been Developing Web and Mobile
              Application forms the past 7 years with so many interns.</p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;500/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Basic Computer</li>
                <li>Web Design</li>
                <li>MySQL</li>
                <li>Wordpress</li>
                <li>Mac</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>Awadhi</li>
              </ul>
            </button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="images/falak.jpeg" class="card-img-top" height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Falak</h5>
            <p class="card-text">I am a software engineer. I am proficient in Web Developement and Data Structures. I
              have 2 years of coding experience in projects and practical work and 5 months of industry work experience.
            </p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;450/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Basic Computer</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>Urdu</li>
                <li>English</li>
              </ul>
            </button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="images/matthew.jpeg" class="card-img-top"height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Matthew</h5>
            <p class="card-text">Lead Engineer at Salesforce | Hiring@Salesforce | 20K+ Connections | Ex-Microsoft</p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;800/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Android</li>
                <li>Frontend</li>
                <li>Backend</li>
                <li>iOS</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>English</li>
                <li>Spanish</li>
              </ul>
            </button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="images/aman.jpeg" class="card-img-top" height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aman</h5>
            <p class="card-text">I am Computer Science graduate and an expert developer, with great theoritical and
              practical knowledge in machine learning, web developement, Python, HTML, CSS, C and C++. Be a part of my
              teachign family and learn to develop awesome projects.</p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;250/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>C/C++</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Python</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>English</li>
                <li>Marathi</li>
              </ul>
            </button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="images/viraj-ashwin-20210128183444-46498.jpg" class="card-img-top"height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Viraj</h5>
            <p class="card-text">I am an MBA Tech Computer Engineering student from NMIMS Mumbai proficient in the latest iterations of HTML, CSS, Javascript, Bootstrap, AngularJs, Django and Python.  I feel I am in a great position to make a positive impact with you. </p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;600/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Web Dev</li>
                <li>App Dev</li>
                <li>MySQL</li>
                <li>WordPress</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>English</li>
                <li>Marathi</li>
              </ul>
            </button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="images/Brown_Clint.jpg" class="card-img-top" height="250" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clinton</h5>
            <p class="card-text">I am software engineer. I have a degree in Bachelor's in I.T. I am working since 2018. I have worked in 3 companies so far and all have them have taught me important skills which is need by any student to be job ready!</p>
            <button type="button" class="btn btn-danger mx-2">&#x20b9;500/hr</button>
            <button type="button" class="btn btn-primary mx-2"><a href="book.hbs" class="text-white">Book</a></button>
            <br><br>
            <button>
              Courses Offered:
              <ul>
                <li>Web Developement</li>
                <li>Web Design</li>
              </ul>
            </button>
            <button>
              Languages:
              <ul>
                <li>Hindi</li>
                <li>English</li>
              </ul>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
</body>

</html>