<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Privacy
      </title>
</head>
<body>
   
    <center><h1>PRIVACY POLICY</h1></center>

    <h2>Effective date: January 6, 2022</h2> 
    <h2>Last updated on: January 5, 2022</h2>

    <ol>
        <li><b>GENERAL</b></li>
        <ol type="a">
            <li><p>This Website with the URL of iCoder.com is operated by us. We are committed to protecting and respecting your privacy. We do collect your personal information and process your personal data in accordance with the IT Act, 2000 (21 of 2000) and other national and state laws which relate the processing of personal data. Please read the following carefully to understand our views and practices regarding your personal data.</p></li>

            <li><p> We collect your personal information in order to provide and continually improve our products and services.</p></li>

            <li><p>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.</p></li>

            <li><p> All partner firms and any third-party working with or for Us, and who have access to personal information, will be expected to read and comply with this policy. No third party may access or process sensitive personal information held by Us without having first entered into a confidentiality agreement.</p></li>
        </ol>

        <li><b>HOW WE COLLECT THE INFORMATION</b></li>
        <ol type="a">
            <li><p>From you directly and through this Site: We may collect information through the Website when you visit. The data we collect depends on the context of your interactions with our Website.</p></li>

            <li><p> Through business interaction: We may collect information through business interaction with you or your employees</p></li>

            <li><p> From other sources We may receive information from other sources, such as public databases; joint marketing partners, social media platforms, or other third parties such as:</p></li>
            <ol type="i">
                <li><p>Updated delivery and address information from our carriers or other third parties, which we use to correct our records and deliver your next purchase or communication more easily.</p></li>

                <li><p> Information about your interactions with the products and services offered by our subsidiaries</p></li>
            </ol>
        </ol>

        <li><b>DATA SECURITY</b></li>
        <ol type="a">
            <LI>We take due care to protect customer data. Technical measures are in place to prevent unauthorized or unlawful access to data and against accidental loss or destruction of, or damage to, data. The employees who are dealing with the data have been trained to protect the data from any illegal or unauthorized usage.</LI>

            <li> <p>We maintain physical, electronic, and procedural safeguards in connection with the collection,storage, and disclosure of personal customer information.</p></li>

            <li><p>We take reasonable steps to help protect your personal information in an effort to prevent the loss, misuse, and unauthorized access, disclosure alteration and destruction. It is your responsibility to protect your user names and passwords to help prevent anyone from accessing or abusing your accounts and services. You should not use or reuse the same passwords you use with other accounts as your password for our services.</p></li>

            <li><p> It is important for you to protect against unauthorized access to your password and your computers, devices, and applications. Be sure to sign off when you finish using a shared computer.</p></li>
        </ol>

        <li><b>CHANGES TO THE POLICY</b></li>
        <ul>
            <p>We may change this policy from time to time if we make any changes to this policy, we will change the "Last Updated date above. You agree that your continued use of our services after such changes have been published to our services will constitute your acceptance of such revised policy</p>
            <br>
            <p>If you have any concern about privacy or grievances with Us, please contact us with a thorough description and we will try to resolve the issue for you</p>
        </ul>

    </ol>

    <h3>Contact Details:</h3>
    <ul>Name: Malvika Madan</ul>
    <ul>Phone no: +91 9999999999</ul>
    <ul>Email <a href="https://mail.google.com/mail/u/1/?ogbl#inbox">malvikamadan2509@gmail.com</a></ul> 
    <ul>Timings: 10 AM-6 PM</ul>

    <hr width="20px">

    
    
</body>
</html>