<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<a class="navbar-brand "><span class="icon">iCoder</span><p class="normal">Bring your thoughts to reality</p></a>

<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

  <ul class="navbar-nav mr-auto ">
  
    <li class="nav-item active">
      <a class="nav-link" href="index.hbs">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about.hbs">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://getbootstrap.com/docs/5.1/examples/" target="_blank">Examples</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="courses.hbs">Courses</a>
    </li>
  </ul>

</div>

<button type="button" class="btn btn-danger mx-2"><a href="/" style="color: white;">Logout</a></button>


</nav>
